* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    perspective: 1000px;
    transform-style: preserve-3d;
    background-image: url(support_image/bg.png);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* 图片容器样式 */
#box {
    position: relative;
    display: flex;
    width: 130px;
    height: 200px;
    margin: auto;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    will-change: transform;
}

/* 图片样式 */
#box>div {
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    box-shadow: 0 0 10px #fff;
    -webkit-box-reflect: below 10px -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0,.8) 100%);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    will-change: transform;
}

/* 过渡样式类 */
#box>div.transition {
    transition: transform 0.5s ease-in-out;
}

/* 鼠标悬停时图片样式 */
#box>div:hover {
    box-shadow: 0 0 20px rgb(199, 255, 253);
    transform: scale(1.3) rotateY(0deg) translate3d(0, 0, 350px);
    z-index: 1;
}

/* 图片容器背景样式 */
#box p {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1200px;
    height: 1200px;
    background: -webkit-radial-gradient(center center, 600px 600px, rgb(0, 12, 50), rgba(0, 0, 0, 0));
    border-radius: 50%;
    transform: rotateX(90deg) translate3d(-600px, 0, -105px);
}

/* 按钮样式 */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(124, 172, 254, 0.74);
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 30px;
}

/* 鼠标悬停时按钮样式 */
button:hover {
    background-color: rgba(224, 224, 224, 0.8);
}

/* 上一张按钮样式 */
#prevBtn {
    left: 20px;
}

/* 下一张按钮样式 */
#nextBtn {
    right: 20px;
}

/* ForTa按钮样式 */
#forTaBtn {
    top: 20px;
    right: 20px;
    transform: translateY(0);
}

/* 设置按钮样式 */
#settingsButton {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    z-index: 100;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* 设置按钮图标样式 */
#settingsButton img {
    max-width: 30px;
    max-height: 30px;
    object-fit: contain;
}

/* 设置按钮图片旋转动画 */
@keyframes rotateClockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

@keyframes rotateCounterclockwise {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* 抽屉栏样式 */
#settingsDrawer {
    position: absolute;
    left: -250px;
    top: 50px;
    width: 250px;
    height: 39%;
    background-color: rgba(100, 157, 255, 0.3);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
}

/* 打开抽屉栏时样式 */
#settingsDrawer.open {
    left: 0;
}

/* 建议文本样式 */
#settingsDrawer .suggestion-text {
    display: block;
    margin-top: -15px;
    color: #ff7474;
}

/* 数字选择器样式 */
input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

/* 音量调节滑块样式 */
#volumeSlider {
    width: 100%;
    margin-bottom: 10px;
}

/* 旋转速度调节滑块样式 */
#rotationSpeedSlider {
    width: 100%;
    margin-bottom: 10px;
}